@charset 'UTF-8';

@import url("https://fonts.googleapis.com/css?family=Poppins:400");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #e5e5e5;
  --grey-300: #d4d4d4;
  --grey-400: #a3a3a3;
  --grey-500: #737373;
  --grey-600: #525252;
  --grey-700: #404040;
  --grey-800: ##262626;
  --grey-900: #171717;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --yellow: #edaa25;
  --light-yellow: #ffec5c;

  /* fonts  */
  --headingFont: "Poppins", sans-serif;
  --bodyFont: "Poppins", sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-200);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--grey-600);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  font-family: var(--headingFont);
}

#editor {
  width: 400px;
  padding: 0.5rem;
  background: var(--grey-400);
  color: #000;
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-3);
}

#editor h3 {
  font-size: var(--small-text);
  font-weight: 300;
  color: var(--primary-800);
}

#display {
  text-align: right;
  border-bottom: 1px solid var(--primary-800);
  border-left: 1px solid var(--primary-800);
  border-right: 1px solid var(--primary-800);
  border-radius: 5px;
  margin-bottom: 0.3rem;
  background: var(--grey-200);
}

.output {
  color: var(--grey-500);
  scroll-padding: 0.2rem;
  padding-right: 0.2rem;
  overflow-wrap: break-word;
  min-height: 1.6rem;
  text-align: right;
  border-top: 1px solid var(--primary-800);
  border-left: 1px solid var(--primary-800);
  border-right: 1px solid var(--primary-800);
  border-radius: 5px;
  background: var(--grey-200);
}

.input {
  min-width: 1.6rem;
  padding: 0.2rem;
  font-size: 3rem;
  font-weight: 700;
  overflow-wrap: break-word;
}

#pad--buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 7px;
}

#pad--buttons button {
  border: 1px solid transparent;
  border-radius: var(--borderRadius);
  height: 4rem;
  font-size: 1.2rem;
  background-color: var(--yellow);
  cursor: pointer;
}

#pad--buttons button:active {
  transform: translate(1px, 1px);
  box-shadow: var(--shadow-2);
}

#pad--buttons .num {
  background: var(--grey-300);
}

#pad--buttons button:hover {
  background: var(--primary-200);
  border-color: var(--grey-400);
}

#pad--buttons button:hover:not(.num) {
  background: var(--light-yellow);
  border-color: var(--grey-400);
}

#pad--buttons #clear {
  grid-column: span 2;
  background: var(--red-dark);
  color: var(--green-light);
}

#pad--buttons #equals {
  grid-column: span 2;
  background: var(--green-dark);
  color: var(--green-light);
}

#pad--buttons #equals:hover {
  opacity: 0.9;
}
